<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
        <title>Key</title>        
    </head>
    <body>
        <form action="/deduct" method="POST">
            <label for="rfid">RFID</label>
            <input type="text" id="rfid" name="rfid">
            <label for="key">Choice</label>
            <input type="text" id="key" name="key">
            <input type="submit" id="btnlogin">
        </form>
    </body>