<form method="post" action="/maps">
    <input type="text" id="lat" name="latti" >
    <input type="text" id="lon" name="longi" >
    <input type="text" id="disc" name="discp">
    <input type="submit" id="btnlogin">
</form>